ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    background-color: rgb(164, 235, 11);
    padding: 10px;
    border-radius: 15px;
}

a {
    color: black !important;
}